.header {
  width: 1280px;
  height: 80px;
  display: flex;
  background-color: #4520ab;
  justify-content: space-around;
  align-items: center;
}

.bar {
  display: flex;
  align-items: center;
}

.search {
  background-image: url(../img/icon_search.svg);
  background-position: center;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.search:hover {
  background-image: url(../img/icon_search_hover.svg);
  background-position: center;
  background-size: contain;
}

.logo {
  display: flex;
  align-items: center;
}

.logo :first-child {
  margin-right: 10px;
}

.bar * {
  margin: 0 15px 0 15px;
}

.minibar {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.3;
}

.minibar1 {
  color: #ffbc5b;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: -0.01em;
  line-height: 74px;
  border-bottom: 2px solid #ffbc5b;
  padding-top: 3px;
}

.minibar:hover {
  color: #ffbc5b;
  opacity: unset;
  cursor: default;
}

.profile #profile img{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff;
}
.allContent {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #141414;
  width: 1280px;
  height: 1184px;
  margin: 0;
}

.info1 {
  color: #ffbc5b;
  font-size: 30px;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -0.05em;
  font-style: normal;
  margin: 52px 0 0 92px;
}

body {
  margin: 0;
}

.film1 {
  margin: 33px 92px 0 92px;
  display: flex;
}

.film1 div {
  margin-right: 20px;
}

.blockFilm1 img {
  width: 322px;
  height: 182px;
  border-radius: 15px;
  position: relative;
  transition: 0.5s;
}

.blockFilm1:hover img {
  transform: scale(1.05);
}

.rating {
  background: #ffbc5b;
  border-radius: 6px;
  width: 51px;
  height: 30px;
  position: relative;
  top: -237px;
  left: 12px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.17em;
  line-height: 29px;
}

.nameFilm {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #989898;
  margin-bottom: 8px;
  letter-spacing: -0.01em;
}

.infoFilm {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #515151;
  margin: 0;
}

#str img {
  width: 48px;
  height: 58px;
  margin-top: 61px;
}

.film2 {
  margin: 33px 92px 0 92px;
  display: flex;
}

.film2 div {
  margin-right: 20px;
}

.blockFilm2 img {
  width: 322px;
  height: 485px;
  border-radius: 15px;
  position: relative;
  transition: 0.5s;
}

.blockFilm2:hover img {
  transform: scale(1.05);
}

.rating2 {
  background: #ffbc5b;
  border-radius: 6px;
  width: 51px;
  height: 30px;
  position: relative;
  top: -540px;
  left: 12px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.17em;
  line-height: 29px;
}

#str2 img {
  width: 48px;
  height: 58px;
  margin-top: 212.5px;
}

.info1 img {
  width: 22px;
  height: 27px;
  margin-left: 19px;
  position: relative;
  bottom: -5px;
}

.blockFilm1:hover .nameFilm {
  color: #ffffff;
}

.blockFilm1:hover .infoFilm {
  color: #8a8a8a;
}

.blockFilm2:hover .nameFilm {
  color: #ffffff;
}

.blockFilm2:hover .infoFilm {
  color: #8a8a8a;
}

#search1 {
  display: none;
}

#mobil {
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .allContent {
    height: 1175px;
  }
  .header {
    height: 70px;
    width: 100%;
    max-width: 1279px;
  }

  .logo :first-child {
    width: 40px;
    height: 40px;
  }

  .logo :last-child {
    width: 65px;
    height: 21px;
  }

  .minibar1 {
    width: 87px;
    height: 23px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0;
    margin-top: 20px;
    padding-bottom: 21px;
  }

  .minibar {
    font-size: 18px;
    line-height: 23px;
  }

  .search {
    height: 17px;
    width: 17px;
  }

  .minibar:hover {
    color: #ffffff;
    opacity: 0.3;
  }

  .search:hover {
    background-image: url(../img/icon_search.svg);
  }

  .profile #profile img {
    width: 36px;
    height: 36px;
  }

  .content {
    width: 100%;
    max-width: 1279px;
    display: flex;
    justify-content: center;
  }

  .info1 {
    font-size: 26px;
    letter-spacing: -0.01em;
    margin: 40px 0 0 36px;
    line-height: 34px;
  }

  .info1 img {
    width: 20px;
    height: 24px;
  }

  .film1 {
    margin: 23px 0 0 36px;
  }

  .film1 div {
    margin-right: 20px;
  }

  .blockFilmNoneTable {
    display: none;
  }

  .nameFilm {
    font-size: 17px;
  }

  .infoFilm {
    font-size: 15px;
  }

  #str img {
    width: 40px;
    height: 48px;
    margin-left: -10px;
  }

  #str2 img {
    width: 40px;
    height: 48px;
    margin-left: -10px;
  }

  .film2 {
    margin: 23px 0 0 36px;
  }

  .film2 div {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .allContent {
    height: 1051px;
  }

  .header {
    height: 60px;
    width: 100%;
    min-width: 360px;
    max-width: 767px;
  }

  .logo :first-child {
    width: 34px;
    height: 34px;
  }

  .logo :last-child {
    width: 56px;
    height: 18px;
  }

  .minibar1 {
    display: none;
  }

  .minibar {
    display: none;
  }

  .search {
    display: none;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile #profile {
    margin: 0 24px 0 24px;
  }

  .profile #profile img {
    width: 26px;
    height: 26px;
  }
  
  #search1 {
    display: contents;
  }

  #mobil {
    display: contents;
  }

  #search1 img {
    width: 26px;
    height: 26px;
  }

  #mobil img {
    width: 24px;
    height: 16px;
  }

  .content {
    width: 100%;
    min-width: 360px;
    max-width: 767px;
    display: flex;
    justify-content: center;
  }

  .blockFilmNoneMobil {
    display: none;
  }

  .info1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    margin: 28px 0 0 16px;
  }

  .info1 img {
    display: none;
  }

  .blockFilm1 img {
    width: 297px;
    height: 168px;
  }

  .film1 {
    margin: 22px 0 0 16px;
  }

  .film2 {
    margin: 22px 0 0 16px;
  }

  #str img {
    width: 9px;
    height: 24px;
  }

  .nameFilm {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .infoFilm {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .rating {
    width: 48.15px;
    height: 28px;
    top: -225px;
  }

  .rating2 {
    width: 48.15px;
    height: 28px;
    top: -502px;
  }

  .blockFilm2 img {
    width: 297px;
    height: 447px;
  }

  #str2 img {
    width: 9px;
    height: 24px;
  }

  .blockFilm1:hover .nameFilm {
    color: #989898;
  }
  
  .blockFilm1:hover .infoFilm {
    color: #515151;
  }
  
  .blockFilm2:hover .nameFilm {
    color: #989898;
  }
  
  .blockFilm2:hover .infoFilm {
    color: #515151;
  }
  
  .blockFilm2:hover img {
    transform: scale(1);
  }

  .blockFilm1:hover img {
    transform: scale(1);
  }
}
